@tailwind base;
@tailwind components;

#logo {
  background-position: center;
  background-size: cover;
}

.social-icon a {
  @apply px-1;
}

i.fab, i.fas, i.fa {
  @apply pr-1;
}

#nav-menu li {
  transition:all 0.3s ease;
}

section h1, article h1 {
  @apply text-3xl;
}

article .sub-title {
  @apply text-xs;
}

article .sub-title em {
  @apply pr-4;
}

.posts ul li a, .post a {
  @apply underline;
}

h2 {
  @apply text-2xl;
  @apply mt-4;
}

h3 {
  @apply text-xl;
  @apply mt-4;
}

.taxonomy h2 {
  @apply text-xl;
}

article p {
  @apply py-2;
}

article ul>li {
  @apply list-disc;
  @apply list-inside;
}

table {
  @apply table-auto;
  width: 100%;
}

table th {
  @apply text-left;
}

.chroma {
  @apply rounded-lg;
  @apply shadow-lg;
  @apply px-4;
  @apply py-4;
  @apply text-sm;
}

.chroma .lnt {
  @apply m-0;
  @apply p-0;
}

@tailwind utilities;
