@tailwind base;
@tailwind components;

#logo {
  background-position: center;
  background-size: cover;
}

#nav-menu li {
  transition:all 0.3s ease;
}

h2 {
  @apply text-2xl;
}

article p {
  @apply py-2;
}

article ul>li {
  @apply list-disc;
  @apply list-inside;
}

table {
  @apply table-auto;
  width: 100%;
}

table th {
  @apply text-left;
}

.chroma {
  @apply rounded-lg;
  @apply shadow-2xl;
  @apply p-2;
}

@tailwind utilities;
