<meta charset="utf-8"/>
<title>{{ .Title }}</title>

{{ $font := resources.Get "scss/font.scss" | resources.ToCSS (dict "targetPath" "css/font.css" "outputStyle" "compressed") | minify | fingerprint }}
<link rel="stylesheet" href="{{ $font.Permalink }}" integrity="{{ $font.Data.Integrity }}">
{{ $syntax := resources.Get "css/syntax.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $syntax.Permalink }}" integrity="{{ $syntax.Data.Integrity }}">

<!-- The main stylesheet -->
  {{ $light := resources.Get "css/light.css" | postCSS (dict "config" "./assets/css/dev/postcss.config.js") }}
  {{ $dark := resources.Get "css/dark.css" | postCSS (dict "config" "./assets/css/dev/postcss.config.js") }}
<script>
  if (window.matchMedia('(prefers-color-scheme)').media === 'not all') {
    document.documentElement.style.display = 'none';
    document.head.insertAdjacentHTML(
        'beforeend',
      '<link rel="stylesheet" href="{{ $light.Permalink }}" onload="document.documentElement.style.display = ``">'
    );
  }
</script>
<link rel="stylesheet" href="{{ $dark.Permalink }}" media="(prefers-color-scheme: dark)">
<link rel="stylesheet" href="{{ $light.Permalink }}" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">
  {{ $style := resources.Get "css/base.css" | postCSS (dict "config" "./assets/css/dev/postcss.config.js") }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
