{{ define "main" }}
<article>
  {{- .Content -}}
</article>
<nav class="posts">
  {{ if .Pages }}
  {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
  <h2>{{ .Key }}</h2>

  <ul>
    {{ range .Pages }}
    <li class="flex">
      <span class="pr-4 font-medium">{{ .Date.Format "Jan 02" }}</span>
      {{ if .Truncated }}
      <article class="flex-1"><a href="{{ .Permalink }}" class="underline">{{ .Title }}</a>
        <section>{{ .Summary }} <small><a href="{{ .Permalink }}" class="underline">more...</a></small></section>
      </article>
      <small class="pl-4"><i class="fas fa-clock"></i> {{ .ReadingTime }} min</small>
      {{ else }}
      <span>{{ .Content }}</span>
      {{ end }}
    </li>
    {{ end }}
  </ul>
  {{ end }}
  {{ else }}
  <p>There are no posts available at the moment.</p>
  {{ end }}
</nav>
{{ end }}