{{ define "main" }}
<article>
  {{- .Content -}}
</article>
<nav class="posts">
  {{ if .Pages }}
  {{ range ( .Pages.GroupByDate "2006") }}
  <h2>{{ .Key }}</h2>

  <ul>
    {{ range .Pages }}
    <li class="flex">
      {{ if .Truncated }}
      <span class="px-2 font-medium" style="font-variant-numeric: tabular-nums">{{ .Date.Format "Jan 02" }}</span>
      <article class="pl-2 flex-1"><a href="{{ .Permalink }}" class="underline">{{ .Title }}</a>
        <section>{{ .Summary }} <small><a href="{{ .Permalink }}" class="underline">more...</a></small></section>
      </article>
      <small class="pl-4"><i class="fas fa-clock"></i> {{ .ReadingTime }} min</small>
      {{ else }}
      <span class="px-2 font-medium" style="font-variant-numeric: tabular-nums">
        {{ .Date.Format "Jan 02" }}
        <span class="block pl-4 text-xs" style="font-variant-numeric: tabular-nums">{{ .Date.Format "15:04" }}</span>
      </span>
      <span class="pl-2">
        {{ .Content }}
        <aside>
          {{ with .Params.tags -}}
          <i class="pr-2 text-xs fas fa-tags"></i>
          <span>
            {{ range . }}
            {{- $name := . -}}
            {{- with $.Site.GetPage "taxonomy" (printf "tags/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "tags/%s" ($name | urlize))) -}}
            <a class="text-sm" href="{{ .Permalink }}">{{ $name }}</a>&nbsp;
            {{ end -}}
            {{ end }}
          </span>
          {{- end }}
        </aside>
      </span>
      {{ end }}
    </li>
    {{ end }}
  </ul>
  {{ end }}
  {{ else }}
  <p>There are no posts available at the moment.</p>
  {{ end }}
</nav>
<nav>
  <ul class="text-right text-sm capitalize underline">
    <li class="inline pr-2"><a href="/tags">Tags</a></li>
    <li class="inline"><a href="/categories">Categories</a></li>
  </ul>
</nav>
{{ end }}
